
  <form [formGroup]="signupForm" (ngSubmit)="signUp()" id="signup-form">
     <div id="main-div" class="container">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <div class="form-group">
      <label for="affiliation">Affiliation</label>
      <input type="text" id="affiliation" formControlName="affiliation" required>
    </div>

    <br>
    <label for="bio"><b>Bio</b></label>
    <textarea   style="background-color: #161b21;color: white;"rows="5" cols="35" placeholder="Write about your Bio..."  formControlName="bio"
    ></textarea>
    <br>
    <br>

    <div class="form-group">
      <label for="role">Role:</label>
      <input type="radio" id="instructor" value="instructor" formControlName="role">  <label for="role">Instructor</label>
      <input type="radio" id="student" value="student" formControlName="role"> <label for="role">Student</label>
    </div>
    <div *ngIf="signupForm.get('role')!.value === 'instructor'" class="form-group">
      <label for="experience">Years of Experience</label>
      <input type="number" id="experience" formControlName="experience">
    </div>
    <button type="submit">Sign Up</button>
  </div>
  <div class="container" style="text-align: center">
    <label class="psw"
      >Already have an account?
      <a href="javascript:void(0);" (click)="navToSignIn()">Sign in</a></label
    >
  </div>
  </form>

