body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #161b21;
}


input[type=email],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #292e34;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #0d1017;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color: #0d1017;
  border-radius: 6px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

#signup-form {
  border-radius: 6px;
  margin: auto;
  margin-top: 10%;
  height: auto;
  width: 400px;
  background-color: #161b21;

}

#main-div {
  border-radius: 6px;
  background-color: #161b21;
}

label {
  font-family: Arial;
  font-weight: lighter;
  color: white;
}

a,
a:visited,
a:hover,
a:active {
  color: #407bd0;
}
button {
  background-color: #238636;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

/* 
 .signup-container {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */
