<form
  (ngSubmit)="login()"
  id="login-form"
  action="/action_page.php"
  method="post"
>
  <div id="main-div" class="container">
    <label for="email"><b>Email</b></label>
    <input
      type="text"
      name="email"
      placeholder="Enter Email"
      [(ngModel)]="email"
      required
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="password"
      [(ngModel)]="password"
      required
    />

    <button type="submit" >Sign in</button>
  </div>
  <div class="container" style="text-align: center">
    <label class="psw"
      >New user?
      <a href="javascript:void(0);" (click)="navToSignUp()">Sign up</a></label
    >
  </div>
</form>
